#wrapper {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    padding-left: 500px;
    border-collapse: none;
}

div > div{
    border: 1px solid #000;
}

#greyTile {
    background-color: rgb(152, 151, 151);
}