@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    position: relative;
}

#wrapper {
    position: absolute;
    left: 450px;
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    border-collapse: none;
}

#wrapper>div {
    border: 1px solid #000;
    position: relative;
}

.movingPoint {
    position: absolute;
    background-color: aqua;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: none;
    border: none;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 50%;
}

.specialPoint {
    position: absolute;
    background-color: rgb(218, 45, 137);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: none;
    border: none;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 50%;
}
#greyTile {
    background-color: rgb(152, 151, 151);
}

#wrapper>div>img {
    display: block;
    width: 70%;
    height: 70%;
    margin: 12px auto;
}

#promotion {
    position: absolute;
    display: none;
    font-size: 70px;
    font-family: 'Anton', sans-serif;
    width: 300px;
    top: 50px;
    left: 620px;
    text-align: center;
}

#promotion > div{
    background-color: #fff;
    border: solid 2px black;
}

#promotion > #title {
    background-color: blue;
}

a {
    text-decoration: none;
    color: #000;
}

